.container_toolbox {
  position: fixed;
  border-style: solid;
  border-width: 2px;
  top: 10px;
  left: 10px;
  width: 17%;
  height: 20%;
}

.container_toolbox .fullBTN {
  width:100%; 
  height: 17%; 
  border-width: 2px; 
  border-style: solid;
}

.halfBTN {
  width:50%; 
  border-width: 2px; 
  border-style: solid;
}

.container_sNn {
  position: fixed;
  border-style: double;
  border-width: 2px;
  bottom:10px;
  left:10px;
  width: 17%;
  height: 75%;
}
.sources_and_nodeTree {
  position: relative;
  overflow: auto;

}

.container_tabsNviewer {
  position: fixed;
  /*border-style: double;*/
  /*border-width: 2px;*/
  top: 10px;
  right: 10px;
  width: 80%;
  height: 95%;
  margin-left: 10px; 
}




.viewer {
  height: 100%;
}

.viewer .unselected {
display: none;
}




/* Style the tab */
.tabs_sNn {
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tabs_sNn button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabs_sNn button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabs_sNn button.active {
  background-color: #ccc;
  width: 50%;
}

.tablinks {
  width: 50%;
}

td, th{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}




#sourcesTable
{
    border-collapse: collapse;
    margin: 0px 10px 10px 0;
    box-shadow: 3px 3px 4px #bbb;    
}

#sourcesTable, #sourcesTable td,  #sourcesTable th
{
    border:  1px solid #cccccc;
}

#sourcesTable th
{
    text-align: left;
    /*font-size: 1.2em;*/
    font-weight: normal;
    color: #F9F9F9;    
    background: #337EB5;
}

#sourcesTable th a, #sourcesTable th a:link, #sourcesTable th a:visited, #sourcesTable th a:active
{
    color: #F9F9F9;
    text-decoration: none;
}

#sourcesTable th a:hover
{
    text-decoration: underline;
}

#sourcesTable tr
{
    background: #F4F9FD;
}

#sourcesTable tr:nth-child(odd) 
{
    background-color: #F4F9FD;
}
#sourcesTable tr:nth-child(even) 
{
    background-color: #EDF5FC;
}

#sourcesTable td 
{
    font-weight: normal;    
    text-align: left;
    vertical-align: top;
}

#sourcesTable td, table th
{
    padding: 5px 8px;
}

#sourcesTable tfoot td
{
    background-color: #EEEEEE;
}

#sourcesTable tfoot td .page
{
    color: #000000;
    font-weight: bold;
}

#sourcesTable tr.subfoot, #sourcesTable tr.subfoot td
{
    background-color: #FFFFEC;
}

#sourcesTable tr:hover td, #sourcesTable tbody tr:hover td
{
    background-color: #FFFFD7;
    color: #696969;
}

#sourcesTable .selected, #sourcesTable tbody .selected
{
    background-color: #6ccbfb;
    color: #fff;
}


/* customPopup*/

.modal {
  display: none;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  margin: 50px auto;
  border: 1px solid #999;
  width: 60%;
}
.customPopup {
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #eee;
}
/*
.customPopup button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #1c87c9;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}*/
.close {
  float: right;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}